/* ESTILOS GLOBALES */
:root {
    --font-principal: 'IBM Plex Mono',
        monospace;
    --background-color: #00F3BB;
    --background-hover: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    --color-principal: #060A24;
    --text-hover: #00F3BB;
    --text-active: rgba(6, 10, 36, 0.56);
    --text-button: #060A24;
    --button-hover: #FFFFFF;
    --font-secundary: 'IBM Plex Sans',
        sans-serif;
    --background-episodes: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

/* FIN ESTILOS GLOBALES */

/* HEADER - */
header {
    width: 100%;
    height: 80px;
    background-color: var(--button-hover);
    position: sticky;
    top: 0;
    z-index: 2;
}

.head-container {
    width: 90%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header .head-container .logo img {
    width: 30px;
    height: 100%;
}

header .head-container ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    background-color: var(--button-hover);
}

header .head-container ul li a {
    font-family: var(--font-principal);
    color: var(--color-principal);
    text-decoration: none;
    margin-right: 50px;
    font-size: 16px;
    text-transform: uppercase;
}

header .head-container ul li a:hover {
    color: var(--text-hover);
    text-decoration: line-through;
}

header .head-container ul li a:active {
    color: var(--text-active);
    text-decoration: line-through;
}

#toggle,
.menu-icon {
    display: none;
}

/* FIN HEADER - */


/* INICIO CONTENIDO  */
.first-container .hello-container h1 {
    font-family: var(--font-secundary);
    font-size: 64px;
    font-weight: normal;
    color: var(--text-button);
    line-height: 84px;
}

.first-container {
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 80%;
}

.first-container .hello-container .world {
    text-decoration: line-through;
}

.first-container .hello-container .dot {
    color: #0000EC;
}

.first-container .p-podcast p {
    font-family: var(--font-principal);
    font-size: 16px;
    color: var(--text-button);
    line-height: 24px;
}

.first-container .know-more {
    margin-top: 50px;
}

.first-container .know-more button {
    background-color: var(--background-color);
    color: var(--text-button);
    border: none;
    line-height: 24px;
    text-align: center;
    font-size: 18px;
    font-family: var(--font-principal);
    font-weight: 500;
    width: 226px;
    height: 56px;
}

.first-container .know-more button:hover {
    background-image: var(--background-hover);
    color: var(--button-hover);
    cursor: pointer;
}

.episodes {
    background-image: var(--background-episodes);
    transform: skewY(-5deg);
    width: 100%;
    height: 1050px;
    margin-top: 80px;
}

.episodes-content {
    margin: 0 auto;
    width: 80%;
    max-height: 1000px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-self: center;
    align-items: flex-start;
    transform: skewY(5deg);
}

.episodes .episodes-content .episodes-title {
    font-family: var(--font-secundary);
    font-size: 48px;
    color: var(--button-hover);
    line-height: 62px;
    margin-top: 140px;
}

.episodes-pod {
    margin: 0 auto;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    gap: 3rem;
}

.episodes-pod iframe {
    width: 40%;
    height: 232px;
}

.cel-container {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.cel-img {
    position: relative;
    top: -150px;
    width: 50%;
}

.cel-desc {
    width: 40%;
    position: relative;
    top: -100px;
}

.cel-desc h2 {
    font-family: var(--font-secundary);
    font-size: 48px;
    color: var(--color-principal);
    line-height: 62px;
}

.cel-desc p {
    margin-top: 10px;
    font-family: var(--font-principal);
    font-size: 16px;
    color: var(--color-principal);
    line-height: 24px;
}

.cel-desc p+p {
    margin-top: 10px;
}

.women-invited {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.title-women {
    margin: 0 auto;
    width: 80%;
    font-family: var(--font-secundary);
    font-size: 48px;
    color: var(--color-principal);
    line-height: 62px;
}

.img-womens {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.img-women {
    display: flex;
    flex-flow: row nowrap;
}

.img-women img {
    width: 33.3%;
}

.temas-container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.temas-title {
    width: 80%;
    margin: 0 auto;
    font-family: var(--font-secundary);
    font-size: 48px;
    color: var(--color-principal);
    line-height: 62px;
}

.svg-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.svgs {
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.svgs p {
    margin-top: 30px;
    font-family: var(--font-secundary);
    font-weight: 700;
    color: var(--color-principal);
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

.novedades {
    margin-top: 20px;
    width: 100%;
    height: 518px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 35%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 35%);
}

.novedades-content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.novedades-content .title {
    margin: 0 auto;
    font-family: var(--font-secundary);
    font-size: 48px;
    color: var(--button-hover);
    line-height: 62px;
    z-index: 2;
    margin-top: 230px;
}

.novedades-content .button {
    margin-top: 50px;
}

.novedades-content .button button {
    background-color: var(--background-color);
    color: var(--text-button);
    border: none;
    line-height: 24px;
    text-align: center;
    font-size: 18px;
    font-family: var(--font-principal);
    font-weight: 500;
    width: 345px;
    height: 56px;
}

.novedades-content .button button:hover {
    background-image: var(--background-hover);
    color: var(--button-hover);
    cursor: pointer;
}

footer {
    background-color: var(--button-hover);
    width: 100%;
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.footer-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.copyright p {
    font-family: var(--font-principal);
    font-size: 16px;
    color: var(--color-principal);
    line-height: 28px;
}

.icons-social {
    width: 15%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.icons-social i {
    color: var(--color-principal);
    font-size: 18px;
}

.icons-social i:hover {
    color: var(--text-hover);
}

/* INICIO MEDIA QUERY */

/* MOBILE S */
@media screen and (min-width:319px) and (max-width:374px) {
    header {
        height: 50px;
    }

    header .head-container {
        height: 50px;
    }

    header .head-container .menu {
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        top: 3rem;
        left: 0;
        background-color: #0000A3;
        display: flex;
        width: 0%;
        transition: width 0.5h ease-in-out;
        overflow: hidden;
        text-align: left;
    }

    .menu li {
        margin-left: 5%;
        padding: 1em 0;
    }

    header .head-container .menu a {
        color: var(--button-hover);
    }

    .menu-icon {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu-icon span {
        width: 100%;
        height: 5px;
        background-color: var(--color-principal);
        transition: all 0.5s ease-in-out;
    }

    #toggle:checked~.menu {
        width: 100%;
        opacity: 1;
    }

    #toggle:checked~.menu-icon span:nth-of-type(1) {
        transform: rotate(-45deg) translateY(14px);
    }

    #toggle:checked~.menu-icon span:nth-of-type(2) {
        opacity: 0;
    }

    #toggle:checked~.menu-icon span:nth-of-type(3) {
        transform: rotate(45deg) translateY(-14px);
    }

    /* INICIO CONTENIDO  */
    .first-container .hello-container h1 {
        font-size: 36px;
        line-height: 42px;
    }

    .first-container {
        margin-top: 50px;
    }

    .first-container .p-podcast p {
        font-size: 14px;
        line-height: 22px;
    }

    .first-container .know-more {
        margin-top: 50px;
    }

    .first-container .know-more button {
        line-height: 22px;
        font-size: 16px;
        width: 250px;
        height: 48px;
    }

    /* FIN PRIMER CONTENIDO */
    /* EPISODES */
    .episodes {
        background-image: var(--background-episodes);
        transform: skewY(-5deg);
        width: 100%;
        height: 1200px;
        margin-top: 100px;
    }

    .episodes-content {
        margin: 0 auto;
        width: 80%;
        max-height: 1000px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-self: center;
        align-items: flex-start;
        transform: skewY(5deg);
    }

    .episodes .episodes-content .episodes-title {
        font-size: 36px;
        line-height: 42px;
        margin-top: 100px;
    }

    .episodes-pod {
        margin: 0 auto;
        display: flex;
        width: 100%;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        gap: 0rem;
    }

    .episodes-pod iframe {
        width: 250px;
        height: 225px;
    }

    /* FIN EPISODES */
    /* NOSOTROS CONTENT */
    .cel-container {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .cel-img {
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    .cel-img img {
        max-width: 100%;
        max-height: 100%;
    }

    .cel-desc {
        width: 90%;
        position: relative;
        top: -70px;
    }

    .cel-desc h2 {
        font-size: 36px;
        line-height: 42px;
    }

    .cel-desc p {
        font-size: 14px;
        line-height: 22px;
    }

    .cel-desc p+p {
        margin-top: 10px;
    }

    /* INVITADAS ESTELARES */

    .title-women {
        width: 100%;
        font-size: 36px;
        line-height: 42px;
    }

    .img-women {
        display: flex;
        flex-flow: column nowrap;
    }

    .img-women img {
        width: 100%;
    }

    /* TEMAS CONTENT */
    .temas-title {
        width: 90%;
        font-size: 36px;
        line-height: 42px;
    }

    .svg-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-top: 50px;
    }

    .svgs {
        margin: 0 auto;
        margin-top: 50px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .svgs p {
        margin-top: 20px;
    }

    /* NOVEDADES CONTENT */
    .novedades {
        height: 500px;
    }

    .novedades-content {
        width: 90%;
    }

    .novedades-content .title {
        font-size: 36px;
        line-height: 42px;
        margin-top: 200px;
        text-align: center;
    }

    .novedades-content .button {
        margin-top: 50px;
    }

    .novedades-content .button button {
        line-height: 22px;
        font-size: 16px;
        width: 288px;
        height: 48px;
    }

    footer {
        background-color: var(--button-hover);
        width: 100%;
        height: 80px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    .footer-container {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: space-between;
    }

    .copyright p {
        font-size: 14px;
        line-height: 22px;
    }

    .icons-social {
        width: 70%;
        margin-top: 15px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .icons-social i {
        font-size: 16px;
    }
}

/*Mobile M*/
@media screen and (min-width:375px) and (max-width:424px) {
    header {
        height: 50px;
    }

    header .head-container {
        height: 50px;
    }

    header .head-container .menu {
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        top: 3rem;
        left: 0;
        background-color: #0000A3;
        display: flex;
        width: 0%;
        transition: width 0.5h ease-in-out;
        overflow: hidden;
        text-align: left;
    }

    .menu li {
        margin-left: 5%;
        padding: 1em 0;
    }

    header .head-container .menu a {
        color: var(--button-hover);
    }

    .menu-icon {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu-icon span {
        width: 100%;
        height: 5px;
        background-color: var(--color-principal);
        transition: all 0.5s ease-in-out;
    }

    #toggle:checked~.menu {
        width: 100%;
        opacity: 1;
    }

    #toggle:checked~.menu-icon span:nth-of-type(1) {
        transform: rotate(-45deg) translateY(14px);
    }

    #toggle:checked~.menu-icon span:nth-of-type(2) {
        opacity: 0;
    }

    #toggle:checked~.menu-icon span:nth-of-type(3) {
        transform: rotate(45deg) translateY(-14px);
    }

    /* INICIO CONTENIDO  */
    .first-container .hello-container h1 {
        font-size: 36px;
        line-height: 42px;
    }

    .first-container {
        margin-top: 50px;
    }

    .first-container .p-podcast p {
        font-size: 14px;
        line-height: 22px;
    }

    .first-container .know-more {
        margin-top: 50px;
    }

    .first-container .know-more button {
        line-height: 22px;
        font-size: 16px;
        width: 288px;
        height: 48px;
    }

    /* FIN PRIMER CONTENIDO */
    /* EPISODES */
    .episodes {
        background-image: var(--background-episodes);
        transform: skewY(-5deg);
        width: 100%;
        height: 1200px;
        margin-top: 100px;
    }

    .episodes-content {
        margin: 0 auto;
        width: 80%;
        max-height: 1000px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-self: center;
        align-items: flex-start;
        transform: skewY(5deg);
    }

    .episodes .episodes-content .episodes-title {
        font-size: 36px;
        line-height: 42px;
        margin-top: 100px;
    }

    .episodes-pod {
        margin: 0 auto;
        display: flex;
        width: 100%;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        gap: 0rem;
    }

    .episodes-pod iframe {
        width: 298px;
        height: 225px;
    }

    /* FIN EPISODES */
    /* NOSOTROS CONTENT */
    .cel-container {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .cel-img {
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    .cel-img img {
        max-width: 100%;
        max-height: 100%;
    }

    .cel-desc {
        width: 90%;
        position: relative;
        top: -70px;
    }

    .cel-desc h2 {
        font-size: 36px;
        line-height: 42px;
    }

    .cel-desc p {
        font-size: 14px;
        line-height: 22px;
    }

    .cel-desc p+p {
        margin-top: 10px;
    }

    /* INVITADAS ESTELARES */

    .title-women {
        width: 90%;
        font-size: 36px;
        line-height: 42px;
    }

    .img-women {
        display: flex;
        flex-flow: column nowrap;
    }

    .img-women img {
        width: 100%;
    }

    /* TEMAS CONTENT */
    .temas-title {
        width: 90%;
        font-size: 36px;
        line-height: 42px;
    }

    .svg-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-top: 50px;
    }

    .svgs {
        margin: 0 auto;
        margin-top: 50px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .svgs p {
        margin-top: 20px;
    }

    /* NOVEDADES CONTENT */
    .novedades {
        height: 500px;
    }

    .novedades-content {
        width: 90%;
    }

    .novedades-content .title {
        font-size: 36px;
        line-height: 42px;
        margin-top: 200px;
        text-align: center;
    }

    .novedades-content .button {
        margin-top: 50px;
    }

    .novedades-content .button button {
        line-height: 22px;
        font-size: 16px;
        width: 288px;
        height: 48px;
    }

    footer {
        background-color: var(--button-hover);
        width: 100%;
        height: 80px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    .footer-container {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: space-between;
    }

    .copyright p {
        font-size: 14px;
        line-height: 22px;
    }

    .icons-social {
        width: 70%;
        margin-top: 15px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .icons-social i {
        font-size: 16px;
    }
}

/*Mobile L*/
@media screen and (min-width:425px) and (max-width:767.98px) {
    header {
        height: 50px;
    }

    header .head-container {
        height: 50px;
    }

    header .head-container .menu {
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        top: 3rem;
        left: 0;
        background-color: #0000A3;
        display: flex;
        width: 0%;
        transition: width 0.5h ease-in-out;
        overflow: hidden;
        text-align: left;
    }

    .menu li {
        margin-left: 5%;
        padding: 1em 0;
    }

    header .head-container .menu a {
        color: var(--button-hover);
    }

    .menu-icon {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu-icon span {
        width: 100%;
        height: 5px;
        background-color: var(--color-principal);
        transition: all 0.5s ease-in-out;
    }

    #toggle:checked~.menu {
        width: 100%;
        opacity: 1;
    }

    #toggle:checked~.menu-icon span:nth-of-type(1) {
        transform: rotate(-45deg) translateY(14px);
    }

    #toggle:checked~.menu-icon span:nth-of-type(2) {
        opacity: 0;
    }

    #toggle:checked~.menu-icon span:nth-of-type(3) {
        transform: rotate(45deg) translateY(-14px);
    }

    /* INICIO CONTENIDO  */
    .first-container .hello-container h1 {
        font-size: 36px;
        line-height: 42px;
    }

    .first-container {
        margin-top: 50px;
    }

    .first-container .p-podcast p {
        font-size: 14px;
        line-height: 22px;
    }

    .first-container .know-more {
        margin-top: 50px;
    }

    .first-container .know-more button {
        line-height: 22px;
        font-size: 16px;
        width: 288px;
        height: 48px;
    }

    /* FIN PRIMER CONTENIDO */
    /* EPISODES */
    .episodes {
        background-image: var(--background-episodes);
        transform: skewY(-5deg);
        width: 100%;
        height: 1200px;
        margin-top: 100px;
    }

    .episodes-content {
        margin: 0 auto;
        width: 80%;
        max-height: 1000px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-self: center;
        align-items: flex-start;
        transform: skewY(5deg);
    }

    .episodes .episodes-content .episodes-title {
        font-size: 36px;
        line-height: 42px;
        margin-top: 100px;
    }

    .episodes-pod {
        margin: 0 auto;
        display: flex;
        width: 100%;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        gap: 0rem;
    }

    .episodes-pod iframe {
        width: 298px;
        height: 225px;
    }

    /* FIN EPISODES */
    /* NOSOTROS CONTENT */
    .cel-container {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .cel-img {
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    .cel-img img {
        max-width: 100%;
        max-height: 100%;
    }

    .cel-desc {
        width: 90%;
        position: relative;
        top: -70px;
    }

    .cel-desc h2 {
        font-size: 36px;
        line-height: 42px;
    }

    .cel-desc p {
        font-size: 14px;
        line-height: 22px;
    }

    .cel-desc p+p {
        margin-top: 10px;
    }

    /* INVITADAS ESTELARES */

    .title-women {
        width: 90%;
        font-size: 36px;
        line-height: 42px;
    }

    .img-women {
        display: flex;
        flex-flow: column nowrap;
    }

    .img-women img {
        width: 100%;
    }

    /* TEMAS CONTENT */
    .temas-title {
        width: 90%;
        font-size: 36px;
        line-height: 42px;
    }

    .svg-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-top: 50px;
    }

    .svgs {
        margin: 0 auto;
        margin-top: 50px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .svgs p {
        margin-top: 20px;
    }

    /* NOVEDADES CONTENT */
    .novedades {
        height: 500px;
    }

    .novedades-content {
        width: 90%;
    }

    .novedades-content .title {
        font-size: 36px;
        line-height: 42px;
        margin-top: 200px;
        text-align: center;
    }

    .novedades-content .button {
        margin-top: 50px;
    }

    .novedades-content .button button {
        line-height: 22px;
        font-size: 16px;
        width: 288px;
        height: 48px;
    }

    footer {
        background-color: var(--button-hover);
        width: 100%;
        height: 80px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    .footer-container {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: space-between;
    }

    .copyright p {
        font-size: 14px;
        line-height: 22px;
    }

    .icons-social {
        width: 70%;
        margin-top: 15px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .icons-social i {
        font-size: 16px;
    }
}

/*Tablet*/
@media screen and (min-width:768px) and (max-width:1023.98px) {
    header {
        height: 50px;
    }

    header .head-container {
        height: 50px;
    }

    header .head-container .menu {
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        top: 3rem;
        left: 0;
        background-color: #0000A3;
        display: flex;
        width: 0%;
        transition: width 0.5h ease-in-out;
        overflow: hidden;
        text-align: left;
    }

    .menu li {
        margin-left: 5%;
        padding: 1em 0;
    }

    header .head-container .menu a {
        color: var(--button-hover);
    }

    .menu-icon {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu-icon span {
        width: 100%;
        height: 5px;
        background-color: var(--color-principal);
        transition: all 0.5s ease-in-out;
    }

    #toggle:checked~.menu {
        width: 100%;
        opacity: 1;
    }

    #toggle:checked~.menu-icon span:nth-of-type(1) {
        transform: rotate(-45deg) translateY(14px);
    }

    #toggle:checked~.menu-icon span:nth-of-type(2) {
        opacity: 0;
    }

    #toggle:checked~.menu-icon span:nth-of-type(3) {
        transform: rotate(45deg) translateY(-14px);
    }

    /* INICIO CONTENIDO  */
    .first-container .hello-container h1 {
        font-size: 36px;
        line-height: 42px;
    }

    .first-container {
        margin-top: 50px;
    }

    .first-container .p-podcast p {
        font-size: 14px;
        line-height: 22px;
    }

    .first-container .know-more {
        margin-top: 50px;
    }

    .first-container .know-more button {
        line-height: 22px;
        font-size: 16px;
        width: 288px;
        height: 48px;
    }

    /* FIN PRIMER CONTENIDO */
    /* EPISODES */
    .episodes {
        background-image: var(--background-episodes);
        transform: skewY(-5deg);
        width: 100%;
        height: 800px;
        margin-top: 100px;
    }

    .episodes-content {
        margin: 0 auto;
        width: 80%;
        max-height: 1000px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-self: center;
        align-items: flex-start;
        transform: skewY(5deg);
    }

    .episodes .episodes-content .episodes-title {
        font-size: 36px;
        line-height: 42px;
        margin-top: 100px;
    }

    .episodes-pod {
        margin: 0 auto;
        display: flex;
        width: 100%;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        gap: 1rem;
    }

    .episodes-pod iframe {
        width: 298px;
        height: 225px;
    }

    /* FIN EPISODES */
    /* NOSOTROS CONTENT */
    .cel-container {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .cel-img {
        position: relative;
        margin: 0 auto;
        width: 90%;
        height: 100%;
    }

    .cel-img img {
        max-width: 100%;
        max-height: 100%;
    }

    .cel-desc {
        width: 90%;
        position: relative;
        top: -70px;
    }

    .cel-desc h2 {
        font-size: 36px;
        line-height: 42px;
    }

    .cel-desc p {
        font-size: 14px;
        line-height: 22px;
    }

    .cel-desc p+p {
        margin-top: 10px;
    }

    /* INVITADAS ESTELARES */

    .title-women {
        width: 90%;
        font-size: 36px;
        line-height: 42px;
    }

    .img-women {
        display: flex;
        flex-flow: column nowrap;
    }

    .img-women img {
        width: 100%;
    }

    /* TEMAS CONTENT */
    .temas-title {
        width: 90%;
        font-size: 36px;
        line-height: 42px;
    }

    .svg-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-top: 50px;
    }

    .svgs {
        margin: 0 auto;
        margin-top: 50px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .svgs p {
        margin-top: 20px;
    }

    /* NOVEDADES CONTENT */
    .novedades {
        height: 500px;
    }

    .novedades-content {
        width: 90%;
    }

    .novedades-content .title {
        font-size: 36px;
        line-height: 42px;
        margin-top: 200px;
        text-align: center;
    }

    .novedades-content .button {
        margin-top: 50px;
    }

    .novedades-content .button button {
        line-height: 22px;
        font-size: 16px;
        width: 288px;
        height: 48px;
    }

    footer {
        background-color: var(--button-hover);
        width: 100%;
        height: 80px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    .footer-container {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: space-between;
    }

    .copyright p {
        font-size: 14px;
        line-height: 22px;
    }

    .icons-social {
        width: 70%;
        margin-top: 15px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .icons-social i {
        font-size: 16px;
    }
}

/* TABLET GRANDE */
@media screen and (min-width:1024px) and (max-width:1299.98px) {
    header {
        height: 50px;
    }

    header .head-container {
        height: 50px;
    }

    header .head-container .menu {
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        top: 3rem;
        left: 0;
        background-color: #0000A3;
        display: flex;
        width: 0%;
        transition: width 0.5h ease-in-out;
        overflow: hidden;
        text-align: left;
    }

    .menu li {
        margin-left: 5%;
        padding: 1em 0;
    }

    header .head-container .menu a {
        color: var(--button-hover);
    }

    .menu-icon {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu-icon span {
        width: 100%;
        height: 5px;
        background-color: var(--color-principal);
        transition: all 0.5s ease-in-out;
    }

    #toggle:checked~.menu {
        width: 100%;
        opacity: 1;
    }

    #toggle:checked~.menu-icon span:nth-of-type(1) {
        transform: rotate(-45deg) translateY(14px);
    }

    #toggle:checked~.menu-icon span:nth-of-type(2) {
        opacity: 0;
    }

    #toggle:checked~.menu-icon span:nth-of-type(3) {
        transform: rotate(45deg) translateY(-14px);
    }

    /* EPISODES */
    .episodes {
        background-image: var(--background-episodes);
        transform: skewY(-5deg);
        width: 100%;
        height: 800px;
        margin-top: 100px;
    }

    .episodes-content {
        margin: 0 auto;
        width: 80%;
        max-height: 1000px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-self: center;
        align-items: flex-start;
        transform: skewY(5deg);
    }

    .episodes .episodes-content .episodes-title {
        font-size: 36px;
        line-height: 42px;
        margin-top: 100px;
    }

    .episodes-pod {
        margin: 0 auto;
        display: flex;
        width: 100%;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        gap: 1rem;
    }

    .episodes-pod iframe {
        width: 400px;
        height: 225px;
    }

    /* FIN EPISODES */
    /* NOSOTROS CONTENT */
    .cel-container {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .cel-img {
        position: relative;
        margin: 0 auto;
        width: 80%;
        height: 100%;
    }

    .cel-img img {
        max-width: 100%;
        max-height: 100%;
    }

    .cel-desc {
        width: 90%;
        position: relative;
        top: -70px;
    }

    .cel-desc p+p {
        margin-top: 10px;
    }

    /* INVITADAS ESTELARES */

    .title-women {
        width: 90%;
        font-size: 36px;
        line-height: 42px;
    }

    .img-women {
        display: flex;
        flex-flow: column nowrap;
    }

    .img-women img {
        width: 100%;
    }

    /* TEMAS CONTENT */
    .temas-title {
        width: 90%;
        font-size: 36px;
        line-height: 42px;
    }

    .svg-container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-top: 50px;
    }

    .svgs {
        margin: 0 auto;
        margin-top: 50px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .svgs p {
        margin-top: 20px;
    }

    /* NOVEDADES CONTENT */
    .novedades {
        height: 500px;
    }

    .novedades-content {
        width: 90%;
    }

    .novedades-content .title {
        font-size: 36px;
        line-height: 42px;
        margin-top: 200px;
        text-align: center;
    }

    .novedades-content .button {
        margin-top: 50px;
    }

    .novedades-content .button button {
        line-height: 22px;
        font-size: 16px;
        width: 288px;
        height: 48px;
    }

    footer {
        background-color: var(--button-hover);
        width: 100%;
        height: 80px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    .footer-container {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: space-between;
    }

    .copyright p {
        font-size: 14px;
        line-height: 22px;
    }

    .icons-social {
        width: 70%;
        margin-top: 15px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .icons-social i {
        font-size: 16px;
    }
}

/* LAPTOP */

@media screen and (min-width:1300px) and (max-width:1500px) {}